//color

$white : #fff;
$platinum: #e6e7e7;
$light-gray: #d1d1d1;

$fuzzy-wuzzy: #e56353;
$ruddy-pink: #D76C69;
$spanish-pink: #ECBCBA;

$eerie-black :#121619;
$raisin-black: #222323;
$nickel: #6C6E70;

// fonts

$lato : 'Lato', sans-serif;
$open-sans: 'Open Sans', sans-serif;
$playfair :'Playfair Display', serif;
$raleway: 'Raleway', sans-serif;
$roboto: 'Roboto', sans-serif;

// font sizes

$x-large : 30px;
$large :18px;
$medium : 16px;
$small: 12px;
